<script lang="ts">
	import SubredditListing from '$lib/components/listing/SubredditListing.svelte';
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<svelte:head>
	{#if data.redditResult}
		<title>/u/{data.username}</title>
	{:else}
		<title>Subreddit</title>
	{/if}
</svelte:head>

{#if data.redditResult}
	<div class="flex flex-col">
		<SubredditListing listing={data.redditResult} />
	</div>
{/if}
