<svelte:head>
	<title>Reddit Thing</title>
</svelte:head>

<h1 class="text-red-950">Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<a href="/subreddit">Browse</a>
<a href="/jobs">Jobs</a>
