<script lang="ts">
	import { page } from '$app/stores';
	import { mdiCrystalBall } from '@mdi/js';
	import MdIcon from '../MdIcon.svelte';
	import SubredditSortLinks from './SubredditSortLinks.svelte';
	import UserSortLinks from './UserSortLinks.svelte';

	$: showSubredditSorts = 'subreddit' in $page.params;
	$: showUserSorts = 'username' in $page.params;
</script>

<div
	class="flex flex-row p-1 items-center justify-between border-b-2 border-b-violet-500 mb-8 sticky bg-slate-100 top-0 left-0 z-10"
>
	<a class="flex flex-row items-center select-none" href="/">
		<!-- Left -->
		<MdIcon path={mdiCrystalBall} size={2} />
		<span class="text-bold text-2xl"> Reddit Thing </span>
	</a>

	<div>
		<!-- Center -->
		{#if showSubredditSorts} <SubredditSortLinks /> {/if}
		{#if showUserSorts} <UserSortLinks /> {/if}
	</div>

	<div class="flex flex-row items-center opacity-0 pointer-events-none">
		<!-- Left -->
		<MdIcon path={mdiCrystalBall} size={2} />
		<span class="text-bold text-2xl"> Reddit Thing </span>
	</div>
</div>
