<script lang="ts">
	import { page } from '$app/stores';

	const sorts = ['hot', 'new', 'rising', 'controversial', 'top', 'gilded'];
	$: currentSort = sorts.filter((s) => $page.params.sort === s);
</script>

<ul class="flex flex-row justify-center gap-3 my-4">
	{#each sorts as sort}
		<li>
			<a class:text-blue-400={currentSort.includes(sort)} href="./{sort}">{sort}</a>
		</li>
	{/each}
</ul>
