<script lang="ts">
	import type { SubredditListingEntry } from '$lib/model/reddit/subreddit-listing';
	import { abbreviateNumber } from '$lib/util/number/abbreviate-number';
	import { mdiArrowDownBold, mdiArrowUpBold } from '@mdi/js';
	import { decode as decodeHTMLEntities } from 'html-entities';
	import { mediaHostFromUrl } from '../../util/url/media-host-from-url';
	import MdIcon from '../MdIcon.svelte';
	import InlineAuthor from './InlineAuthor.svelte';
	import PostMedia from './PostMedia.svelte';
	import SelfText from './SelfText.svelte';

	export let post: SubredditListingEntry;
	$: data = post.data;
	$: mediaHost = mediaHostFromUrl(data.url);

	async function save() {
		await fetch('/api/post/save', {
			method: 'POST',
			body: JSON.stringify(post)
		});
	}
</script>

<div class="flex flex-row max-w-2xl p-3 gap-3 border border-slate-400 w-full justify-center">
	<div class="flex flex-col items-center">
		<!-- Karma -->
		<span>
			<MdIcon path={mdiArrowUpBold} />
		</span>
		<span>{abbreviateNumber(data.ups - data.downs)}</span>
		<span>
			<MdIcon path={mdiArrowDownBold} />
		</span>
	</div>

	<div class="flex flex-col justify-between">
		<div class="flex flex-col gap-2">
			<!-- Card content -->
			<div class="flex flex-row gap-2 flex-nowrap">
				<!-- Author Info -->
				<span class="text-black whitespace-nowrap">
					<a href="/subreddit/{data.subreddit}" class="hover:text-blue-400">
						/r/{data.subreddit}
					</a>
				</span>
				<span>&cross;</span>
				<span class="text-slate-400 whitespace-nowrap"
					>Posted by <InlineAuthor author={data.author} /></span
				>
			</div>
			<div class="flex flex-row">
				<!-- Title -->
				<span class="font-bold">{decodeHTMLEntities(data.title)} </span>
			</div>
			{#if data.selftext}
				<SelfText text={data.selftext} />
			{/if}
			<div class="relative w-full flex flex-col items-center">
				<PostMedia {post} />
			</div>
		</div>

		<div class="w-full flex-row text-slate-400 mt-4">
			<!-- Card Footer -->
			<a class="hover:text-blue-400" target="_blank" href="https://old.reddit.com{data.permalink}"
				>Permalink</a
			>
			<span>&sdot;</span>
			<button class=" hover:text-blue-400" on:click={() => console.log(data)}>Log Data</button>
			<span>&sdot;</span>
			<a class="hover:text-blue-400" target="_blank" href={data.url}>{mediaHost}</a>
			<span>&sdot;</span>
			<button class="hover:text-blue-400" on:click={save}>Save Post</button>
		</div>
	</div>

	<div class="flex flex-col items-center opacity-0 pointer-events-none">
		<!-- Duplicate of left Karma to even out card -->
		<span>
			<MdIcon path={mdiArrowUpBold} />
		</span>
		<span>{abbreviateNumber(data.ups - data.downs)}</span>
		<span>
			<MdIcon path={mdiArrowDownBold} />
		</span>
	</div>
</div>

<!-- <pre>{JSON.stringify(data, null, 2)}</pre> -->
