<script lang="ts">
	import type { SubredditListingEntry } from '$lib/model/reddit/subreddit-listing';
	import { pickPreview } from '$lib/util/preview/pick-preview';
	import { fileIdFromUrl } from '../../util/url/file-id-from-url';
	import GenericImage from '../media/GenericImage.svelte';
	import ImgurMedia from '../media/ImgurMedia.svelte';
	import MediaPreview from '../media/MediaPreview.svelte';
	import RedGifs from '../media/RedGifsMedia.svelte';

	export let post: SubredditListingEntry;
	let playMedia = false;
	let previewSize: [number, number] = [0, 0];

	$: data = post.data;
	$: preview = pickPreview(data.preview);
	$: fileId = fileIdFromUrl(data.url);
	$: mediaHost = fileId.mediaHost;

	$: w = previewSize[0] > 0 ? `${previewSize[0]}px` : 'auto';
	$: h = previewSize[1] > 0 ? `${previewSize[1]}px` : 'auto';

	function doPlayMedia() {
		playMedia = true;
	}
</script>

{#if mediaHost === 'unknown' && !fileId.isImage}
	<span class="text-bold text-red-600">Unknown media host {data.url}</span>
{/if}

<div style:min-width={w} style:min-height={h}>
	{#if playMedia}
		{#if fileId.isImage}
			<GenericImage {post} />
		{:else if mediaHost === 'imgur'}
			<ImgurMedia {post} {fileId} />
		{:else if mediaHost === 'redgifs'}
			<RedGifs {post} />
		{:else}
			<span>Don't know how to embed {mediaHost}</span>
		{/if}
	{:else if preview}
		<MediaPreview
			{preview}
			title={data.title}
			playable={fileId.playable}
			on:click={doPlayMedia}
			on:previewSize={(e) => (previewSize = e.detail)}
		/>
	{:else if !data.selftext}
		<div><pre>{JSON.stringify(data.preview, null, 2)}</pre></div>
	{/if}
</div>
