<script lang="ts">
	import { truncateText } from '$lib/util/string/truncate-text';
	import { decode as decodeHTMLEntities } from 'html-entities';
	import { renderMarkdown } from '../../util/markdown/render-markdown';

	export let text: string;

	let expand = false;

	$: textClean = decodeHTMLEntities(text);

	$: truncatedText = truncateText(textClean);
	$: isTruncated = truncatedText !== textClean;

	const rendered = renderMarkdown(text);
</script>

{#if isTruncated}
	{#await rendered}
		{#if expand}
			<div>
				<span>{textClean}</span>
				<button type="button" on:click={() => (expand = false)}>Collapse</button>
			</div>
		{:else}
			<div>
				<span>{truncatedText}</span>
				<button type="button" on:click={() => (expand = true)}>Expand</button>
			</div>
		{/if}
	{:then renderedHtml}
		{#if expand}
			<div class="all-initial">
				<span>{@html renderedHtml}</span>
				<button type="button" on:click={() => (expand = false)}>Collapse</button>
			</div>
		{:else}
			<div>
				<span>{truncatedText}</span>
				<button type="button" on:click={() => (expand = true)}>Expand</button>
			</div>
		{/if}
	{/await}
{:else}
	<span>{textClean}</span>
{/if}
