<script lang="ts">
	import type { SubredditListing } from '$lib/model/reddit/subreddit-listing';
	import PostCard from './PostCard.svelte';

	export let listing: SubredditListing;

	const comfyPostWidth = 700;
	let width: number;

	$: entries = listing.data.children;
	$: numberOfLanes = Math.max(1, Math.floor(width / comfyPostWidth));
	$: lanes = divideEntries(entries, numberOfLanes);

	function divideEntries<T>(entryList: T[], slices: number) {
		const chunkSize = Math.max(1, Math.ceil(entries.length / slices));
		const chunks = [];

		for (let i = 0; i < entryList.length; i += chunkSize) {
			chunks.push(entryList.slice(i, i + chunkSize));
		}

		return chunks;
	}
</script>

<div bind:clientWidth={width} />

<div class="flex flex-row justify-center gap-5 mx-5">
	{#each lanes as lane}
		<ul class="flex flex-col gap-5">
			{#each lane as post}
				<li class="flex flex-row justify-center gap-3">
					{#if post.kind === 't3'}
						<PostCard {post} />
					{:else}
						<span class="text-bold text-red-600">Unknown kind '{post.kind}'</span>
						<button class="hover:text-blue-700" on:click={() => console.log(post)}>Log Post</button>
					{/if}
				</li>
			{/each}
		</ul>
	{/each}
</div>
