<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<ul>
	{#each data.jobs as job}
		<li class="flex flex-row gap-2">
			<span>{job.kind}</span>
			<span>Finished: {job.finished ? 'yes' : 'no'}</span>

			{#if job.finished}
				{#if job.result}
					<pre>{JSON.stringify(job.result, null, 2)}</pre>
				{:else if job.error}
					<pre>{job.error}</pre>
				{/if}
			{/if}
		</li>
	{/each}
</ul>
