<script lang="ts">
	import type { SubredditListingEntry } from '../../model/reddit/subreddit-listing';

	export let post: SubredditListingEntry;
</script>

<img src={post.data.url} alt={post.data.title} />
