<script lang="ts">
	import type { SubredditListingEntry } from '../../model/reddit/subreddit-listing';
	import type { FileId } from '../../util/url/file-id-from-url';
	import GenericImage from './GenericImage.svelte';

	export let fileId: FileId;
	export let post: SubredditListingEntry;

	$: isGifV = post.data.url.endsWith('.gifv');
</script>

{#if isGifV}
	<!-- svelte-ignore a11y-media-has-caption -->
	<video controls autoplay>
		<source type="video/mp4" src={post.data.url.replaceAll('.gifv', '.mp4')} />
	</video>
{:else if fileId.isImage}
	<GenericImage {post} />
{/if}
