<script lang="ts">
	import type { SubredditListingPreviewImageEntity } from '$lib/model/reddit/subreddit-listing';
	import { mdiPlayCircleOutline } from '@mdi/js';
	import { createEventDispatcher } from 'svelte';
	import MdIcon from '../MdIcon.svelte';

	const dispatch = createEventDispatcher();

	export let preview: SubredditListingPreviewImageEntity;
	export let title = 'Untitled';
	export let playable = false;

	let imageElement: HTMLImageElement;

	function sendPreviewSize() {
		dispatch('previewSize', [imageElement.clientWidth, imageElement.clientHeight]);
	}
</script>

<div class="relative">
	<img src={preview.url} alt={title} bind:this={imageElement} on:load={sendPreviewSize} />

	{#if playable}
		<button
			class="absolute left-0 top-0 w-full h-full flex flex-col items-center justify-center cursor-pointer"
			on:click
		>
			<MdIcon path={mdiPlayCircleOutline} size={5} color="#fff" />
		</button>
	{/if}
</div>
