<script lang="ts">
	export let path: string;
	export let size = 1;
	export let color: string | null = null;
	export let flip: boolean | string | null = null;
	export let rotate = 0;
	export let spin = false;
	export let title = '';

	// SPIN properties
	$: inverse = typeof spin !== 'boolean' && spin < 0 ? true : false;
	$: spintime = Math.abs(spin === true ? 2 : 0);
	$: spinfunc = inverse ? 'spin-inverse' : 'spin';

	// size
	if (Number(size)) size = Number(size);

	const getStyles = () => {
		const transform = [];
		const styles = [];

		if (size !== null) {
			const width = typeof size === 'string' ? size : `${size * 1.5}rem`;
			styles.push(['width', width]);
			styles.push(['height', width]);
		}

		styles.push(['fill', color !== null ? color : 'currentColor']);

		if (flip === true || flip === 'h') {
			transform.push('scaleX(-1)');
		}

		if (flip === true || flip === 'v') {
			transform.push('scaleY(-1)');
		}

		if (rotate != 0) {
			transform.push(`rotate(${rotate}deg)`);
		}

		if (transform.length > 0) {
			styles.push(['transform', transform.join(' ')]);
			styles.push(['transform-origin', 'center']);
		}

		return styles.reduce((cur, item) => {
			return `${cur} ${item[0]}:${item[1]};`;
		}, '');
	};

	$: style = getStyles();
</script>

<svg viewBox="0 0 24 24" {style}>
	{#if title}<title>{title}</title>{/if}
	{#if spin !== false}
		{#if inverse}
			<style>
				@keyframes spin-inverse {
					to {
						transform: rotate(-360deg);
					}
				}
			</style>
		{:else}
			<style>
				@keyframes spin {
					to {
						transform: rotate(360deg);
					}
				}
			</style>
		{/if}
		<g style={`animation: ${spinfunc} linear ${spintime}s infinite; transform-origin: center`}>
			<path d={path} />
		</g>
	{:else}
		<path d={path} />
	{/if}
</svg>

<style>
	svg {
		vertical-align: middle;
	}
</style>
